.button {
    width: 8rem;
    height: 3rem;
    font-weight: 500;
    font-size: 0.9rem;
    border-radius: 0.3rem;
    box-shadow: 0 0 1px 3px rgba(0, 0, 0, 0.075);
    cursor: pointer;
    transition: transform 100ms ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}
